div ,header,main,footer{
    display: block;
}
img {
    margin: auto;
    height :auto;
    max-width : 100%;
}
h1 ,h2,h3,h4,h5,h6 {
    font-weight: 700;
}
body ,h1 ,h2, h3 ,h4,h5,h6,html{
    margin: 0;
    padding:0;
}
.primary .cont-one  {
    position: relative;
    display: grid;
    grid-template-columns: 50vw 0vw 50vw;
    grid-template-rows: 24vw;
}

.primary .cont-one .col-one {
    grid-column-start: 1;
    grid-column-end: 3;
    background : url(https://congresomontessori.com/images/2023/fondo-home-hero.jpg);
    grid-row-start: 1;
    grid-row-end: 3;
    position: relative;
}

.primary .cont-one .col-one::before {
    display: block;
    content: '';
    width :50vw;
    height :48.5vw;
    min-height :629px;
    background: rgba(80, 109 ,255 ,0.20);
}

.primary .cont-one .col-two {
    position: relative;
    display: flex;
    background: #58afd1;
    grid-column:3;
    grid-row: 1;
    place-items: center;
    height : 24vw;
  
}
.primary .cont-one .col-two video {
    padding: 0 60px 0;
    margin: 1vw;
}
.primary .cont-one .col-three {
    display: flex;
    position : relative;
    background: rgb(255, 255, 255);
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 2;
}

.primary .cont-one .col-three img {
    width : 60%;
    min-width : 300px;
    margin: auto;
}

.secondary .cont-two  {
    position: relative;
    display: grid;
    grid-template-columns: 30vw 0vw 70vw;
}
.secondary .cont-two .col-one {
    position: relative;
    display: flex;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1;
    background:#223983 ;
    height :10vw ;
    width : 100vw;
}

.secondary .cont-two .col-two {
    position: relative;
    display: flex;
    grid-column:1 ;
    grid-row: 2;
    background: #58afd1;
    height : 31vw;
    width : 30vw;

}
.secondary .cont-two .col-three {
    position: relative;
    grid-row: 2;
    background: #fff;
    width : 70vw;
    padding:  120px 60px 100px;
}
.secondary .cont-two .col-three .title {
    font-weight :700;
    color: #223983;
    font-size: 17px;
}
.secondary .cont-two .col-three .sub {
    margin-bottom :40px;
    font-size: 30px;
    color: #223983;
}
.secondary .cont-two .col-three .concept p {
    font-size: 17px;
    margin-top :25px;
    color: #8c8c8c;
    font-weight: 700;
}
.wrap {
    flex-wrap: wrap
    /* La propiedad flex-wrap en CSS se utiliza en combinaciÃ³n con Flexbox para controlar cÃ³mo los elementos hijos de un contenedor flex se envuelven o ajustan cuando no caben todos en una sola lÃ­nea */;
  }
  .is-flex{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .logo-footer{
    display: flex;
    padding: 0 40px 0 0;
    position: relative;
  }
  .bg-green {
    background: #03B7A0;
  }
  
  .logo-footer::before {
    content: "";
    height : 100%;
    display: flex;
    width : 200px;
    padding-top : 180px;
    background: #223983;
    padding-bottom : 180px;
    box-sizing :inherit;
  }
  .column{
   /*  display: block; */
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
   /*  padding: 0.75rem; */
  }
   footer.logo-footer img {
    max-width : 250px;
    margin: auto 40px;
  }
  .bg-darkblue{
    background: #223983;
  }
  .is-paddingless{
    padding: 0;
  }
  .address,footer .rrss{
    padding-left : 100px;
    display: flex;
    align-items: center;
    color: #fff;
  }
  .font-17{
    font-size: 17px;
    color: #fff;
  }
  .has-margin-left-70{
    margin-left : 70px;
  }
  .has-margin-left-50{
    margin-left : 50px;
  }
  .font-14 {
    font-size: 14px;
  }
  .bg-blue {
    background-color: #274295;
  }
  .is-full-width {
    width : 100%;
  }
  
  .color-green {
    color: #03B7A0;
  }
  .has-margin-right-40 {
    margin-right : 40px;
  }
  span {
    font-style: inherit;
    font-weight: inherit;
  }
  .align-items-center {
    align-items: center;
  }
  .has-text-white {
    color: #fff;
  }
  .has-margin-right-5 {
    margin-right : 5px;
  }
  .bg-lightblue {
    background: #2c489e;
  }
  .is-full-width {
    width : 100%;
  }
  .has-text-centered {
    text-align : center;
  }