@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,600&display=swap');
header nav {
    /* background: #fff; */
    font-family:'Poppins',sans-serif;
    position: fixed;
    top : 0;
    left : 0;
    z-index: 1024;

}
.nav {
    width :300px;
}

.nav_link {
    color: #303440;
    display: block;
    padding: 15px 0;
    text-decoration: none;
}
.nav_link--inside {
    border-radius: 6px;
    padding-left :20px;
}
.nav_link--inside:hover{
    background: #F6F8FA;
}

.list {
    width :100%;
    height :100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
   /*  border-radius: 0 16px 16px 0; */
    background: #fff;
    z-index: -1;
    position: absolute;
    transition: .5s;
    
    
}
.list.active {
    width :20rem;
    transition: .8s;
}

.list_item {
    list-style: none;
    width :100%;
    text-align: center;
    overflow: hidden; /* permite que las propiedades que list show cuenta no se desborde */
  
}
.list_item--click {
    cursor: pointer;
}

.list_button {
    display: flex;
    align-items: center;
    gap: 1em;
    width :70%;
    margin: 0 auto;
}
.arrow .list_arrow {
    transform: rotate(90deg);
}
.list_arrow {
    margin-left :auto;
    transition: transform .3s;
}

.list_show {
    width :80%;
    margin-left :auto;
    border-left :2px solid #303440;
    list-style: none;
    transition: height .4s;
    height : 0;
}
.ghost {
    list-style: none;
    display:flex ;
    position:fixed ;
    padding : 0 70px 0 ;
    padding-top :12px ;
    overflow: hidden;
   }
.ghost-click {
    cursor: pointer;
}
/* OPEN */
.nav .open-nav {
    width : 80px;
    height : 80px;
    background: #03b7a0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .8s;
    box-sizing: content-box;
    
    
}
.nav .open-nav.active {
    padding-left : 240px ;
    background: #fff;
}


.click-active {
    cursor: pointer;
  }

  .click-active.active + .content {
    height : 0;/* ... */
  }

  .click-active:not(.active) + .content {
    height : auto;/* ... */
  }

  .content {
    overflow: hidden;
    transition: height 0.5s;/* ..... */
  }

  .nav .open-nav img {
   
    padding: 0 20px 0;
    margin: auto 2px;
    transition: opacity 0.5s ease-in-out;
   

  }
  .oculto {
    opacity: 0;
    pointer-events: none;
   
  }
 

 